.mcLayoutHeader {
    height: 100%;
    background-color: #fff;
    color: #252a3d;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
    z-index: 100;
    padding: 0;
}
.Header-logo {
    box-sizing: border-box;
    width: 240px;
    padding-left: 28px;
    position: relative;
    overflow: hidden;

    & > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
    }

    & img {
        width: auto;
        height: 50px;
    }
}

.header-content {
    width: 100%;
    max-width: 624px;
    height: 100%;
    padding: 0 12px;

    & > span {
        width: 100%;
        height: 36px;
        border-radius: 4px;
    }
}

.right-content {
    position: relative;
    padding-right: 24px;
    align-items: center;

    & > div {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & svg {
        width: 20px;
        height: 20px;
    }
    & button {
        width: 25px;
        height: 25px;
        padding: 0;
    }
}

.setShop {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h4 {
        width: 20px;
    }

    & > svg {
        width: 20px;
        height: 20px;
    }
}

.Header-menu {
    width: 40px;
    height: 30px;
    display: none;
    margin-left: 18px;

    & .burger {
        position: relative;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        display: block;
    }

    & .burger input {
        display: none;
    }

    & .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    & .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }

    & .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    & .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    & .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }

    & .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    & .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }
}

/* 在992px及以上的宽度应用的样式 */
@media screen and (max-width: 992px) {
    /* 添加你想要的样式和布局调整 */
    .Header-logo {
        display: none;
    }

    .Header-menu {
        display: block;
    }
}
