html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
/* 全局修改ant - table */

.colorWeak {
  filter: invert(80%);
}
.ant-layout {
  min-height: 100vh
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.menu-item-settings{
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  cursor: pointer;
  a{
    display: block;
    width: 100%;
    padding-left: 16px;
  }
  :hover{
    background-color: #F7F8FB;
  }
  :active{
    background-color: rgba(0, 0, 0, .15);
  }
}


/* 设置 */
/* .ant-menu-item:has(.ant-menu-title-content):has(.menu-item-settings){
  position: absolute;
  left: 0;
  bottom: 0;
} */
/* .mc-menu-item>li:last-child{
  position: absolute !important;
  bottom: 0;
}
.mc-menu-item>li:nth-last-child(3){
  margin: 20px 0 0 0;
}
.mc-menu-item>li:nth-last-child(5){
  margin: 20px 0 0 0;
} */

canvas {
  display: block;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
ol {
  list-style: none;
}
@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-tbody > tr > td {
    white-space: pre;
  }
  .ant-table-thead > tr > th > span,
  .ant-table-tbody > tr > th > span,
  .ant-table-thead > tr > td > span,
  .ant-table-tbody > tr > td > span {
    display: block;
  }
}


/* 样式 */
.color-FF0000{
  color: #FF0000;
}
.color-F86140{
  color: #F86140;
}
.color-FE9E0F{
  color: #FE9E0F;
}

.color-FFFFFF{
  color: #FFFFFF;
}

.color-242833{
  color: #242833;
}
.color-474F5E{
  color: #474F5E;
}
.color-B8BECC{
  color: #B8BECC;
}

.color-EEF1F6{
  color: #EEF1F6;
}
.color-888888{
  color: #888888;
}
.color-AAB7CD{
  color: #AAB7CD;
}
.color-AAB7CD{
  color: #AAB7CD;
}

.color-666666{
  color: #666666;
}

.color-7A8499{
  color: #7A8499;
}

.color-D7DBE7{
  color: #D7DBE7;
}

.color-474F5E{
  color: #474F5E;
}

.color-356DFF{
  color: #356dff;
}
.color-101AA4{
  color: #101AA4;
}
.color-08AB70{
  color: #08AB70;
}

.color-000000-A45{
  color: rgba(0, 0, 0, .45);
}

.bg-color-FFFFFF{
  background-color: #FFFFFF;
}

.font-28{
  font-size: 28px;
}

.font-24{
  font-size: 24px;
}

.font-20{
  font-size: 20px;
}

.font-18{
  font-size: 18px;
}

.font-16{
  font-size: 16px;
}

.font-14{
  font-size: 14px;
}

.font-12{
  font-size: 12px;
}
.font-10{
  font-size: 10px;
}
.line-h-20{
  line-height:20px;
}


.font-w-400{
  font-weight: 400;
}
.font-w-500{
  font-weight: 500;
}
.font-w-600{
  font-weight: 600;
}

.cursor-pointer{
  cursor: pointer;
}
.cursor-not-allowed{
  cursor:not-allowed;
}
